repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: "check-ast"
      - id: "trailing-whitespace"
      - id: "check-case-conflict"
      - id: "check-merge-conflict"
      - id: "end-of-file-fixer"
      - id: "mixed-line-ending"
      - id: "detect-private-key"
      - id: "check-toml"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.9'
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        language_version: python3.11
        additional_dependencies:
          - pydantic
